@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border-animation {
  0%, 100% { border-color: #3498db; } /* 蓝色 */
  25% { border-color: #f1c40f; } /* 黄色 */
  50% { border-color: #e74c3c; } /* 红色 */
  75% { border-color: #2ecc71; } /* 绿色 */
}

.border-carousel {
  @apply border-4 border-solid;
  animation: border-animation 5s linear infinite;
}